@keyframes rotation {
    from {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(90deg)
    }
    50% {
        transform: rotate(180deg)
    }
    75% {
        transform: rotate(270deg)
    }
    to {
        transform: rotate(360deg)
    }
}

.img-dice-rotate {
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
    animation: rotation 0.5s ease-in-out;
}